<?xml version="1.0"?>
<!--
/**
 * @author Tanguy BELIN
 * @package Verdikt_CatalogFile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="verdikt_catalogfile" frontName="verdikt_catalogfile">
            <module name="Verdikt_CatalogFile" />
        </route>
    </router>
</config>